.float-right {
    float:right;
}
body {
    background: #2688ea;
    color: #326ba5;
}
a {
    color: #3f83cc;
}

.nav_title {
    background: #2688ea;
}
.left_col {
    background: #2688ea;
}

.nav.side-menu>li.active>a {
    background: linear-gradient(#1474d4,#1572d0),#296cad;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid #ffffff;
}

.nav-md ul.nav.child_menu li:before {
    background: #ffffff;
}

.nav.side-menu>li.active, .nav.side-menu>li.current-page {
    border-right: 5px solid #e6ca00;
}
.dropzone {
    border: 5px dashed rgb(38, 136, 234) !important;
}
.upload-form {
    border: 5px dashed #2688ea;
    padding-top: 30px;
    padding-bottom: 30px;
}